[submodule "Drivers/stm32g4xx_hal_driver"]
	path = Drivers/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
[submodule "Drivers/cmsis_device_g4"]
	path = Drivers/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
